PORT=5000
MONGODB_URI=mongodb://Gopal:12pPe378GnjzpfJI@ac-xerdugs-shard-00-00.rnj4kjs.mongodb.net:27017,ac-xerdugs-shard-00-01.rnj4kjs.mongodb.net:27017,ac-xerdugs-shard-00-02.rnj4kjs.mongodb.net:27017/DSA_Tracker?ssl=true&replicaSet=atlas-6jicwo-shard-0&authSource=admin&appName=Cluster0
